main
-navbar --completed
-no lorem ipsum --completed
-banner carousel --completed
-deal of the day --completed
-meet the team section --completed
-footer --completed

bonus
-the box beneath the banner that needs positioning --completed
-modal pop-up when 'details' is clicked --completed
-why choose us section --completed
-responsive site --completed